extends layout

block content
   div.container
        h1= title
        form.form-horizontal
            div.form-group
                label.col-md-4.control-label Weight (lbs):
                div.col-md-8
                    div#weight.slider(data-slider-id="weight-slider" data-slider-value=weight)
                    h4
                        div#weight_val.label.label-primary 150

            div.form-group
                label.col-md-4.control-label Gender:
                div.col-md-8
                    div#gender.btn-group(data-toggle="buttons")
                        if gender == 'male'
                            label#male.btn.btn-default.btn-success.btn-lg.active Male
                                input(type="radio")
                            label#female.btn.btn-default.btn-success.btn-lg Female
                                input(type="radio")
                        else
                            label#male.btn.btn-default.btn-success.btn-lg Male
                                input(type="radio")
                            label#female.btn.btn-default.btn-lg.btn-success.active Female
                                input(type="radio")

        div#save-btn.btn.btn-danger.btn-lg Save